*.[oa]
*~
.deps/
*.swp
.DS_Store
examples/bpc/bpc
examples/bpc/busy_wait
examples/uts/uts-scioto
examples/uts/uts-scioto-initial-bfs
examples/uts/uts-scioto-initial-bfs-strict-dfs
examples/uts/uts-scioto-strict-dfs
examples/uts/uts-iter-sequential
examples/madness/mad3d
tests/util/busy_wait
tests/core
tests/test-coll
tests/test-hello
tests/test-rrtask
tests/test-simple
tests/test-task
tests/test-tasktree
tests/test-termination
tests/test-timer
include/
runs/scripts
